# Project related
# We are not allowed to host MCP or the Minecraft Source code
mcp*.zip
.mcp

# Gradle
.gradle
/build

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# IDE-Configurations

# Netbeans
/.nb-gradle
/nbproject/
/nbactions-deployer.xml
/nb-configuration.xml

# Eclipse
/.classpath
/.project
/.settings

# Jetbrains
*.iml
/.idea